/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* header (h1)*/
header {
    background-color: black; /* Placeholder bg for now */
    padding: 15px;
}

h1 {
    color: yellow; /* for now */
    font-size: 80px; /* for now */
}

span {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    border: solid 3px black;
    margin: 20px;
}

footer {
    display: flex;
    position: relative;
    justify-content: center;
}

/* search Btn/on:hover */
button {
    padding: 1px 7px;
}

button:hover {
    background-color: green; /* for now */
}

#aboutUs {
    display: flex;
    vertical-align: bottom;
}

/* searchBtn (id) */
#searchBtn {
    padding-right: 7px;
}

/* dropdown bar (class/id) */
/* Dropdown (class/id) */
#platforms {
    padding-right: 7px;
}

/* search bar (class/id) */
#searchBar {
    padding-right: 7px;
}

#h2-results {
    background-color: blue; /* for now */
}

#h2-rec {
    background-color: green; /* for now */
}

/* dark/light theme toggle */

/* body main ul p (?) */

/* search bar (class) */
/* search Btn (class) */
.search-box {
    display: flex;
    justify-content: start;
}

/* checkbox styles for genre/category/platform/etc */